extends layout-index

block content
  .wrapper.wrapper-index
      img(src="img/logo.png" class="logo logo-index")
      p#timer.timer-index
      img(src="/img/logo_2.png" class="logo-bottom logo-b-index")


