extends layout-index

block content
  .wrapper
      .row
        .col-12
          img(src="img/logo.png" class="logo logo-index")
      .row
        .col-4
          //- .row.immunitet-block
          //-   .col-6.offset-3
          //-     svg(xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewbox='0 0 100 100' class='heart bar')
          //-       path(fill-opacity='0' stroke-width='1' stroke='#bbb' d='M81.495,13.923c-11.368-5.261-26.234-0.311-31.489,11.032C44.74,13.612,29.879,8.657,18.511,13.923  C6.402,19.539,0.613,33.883,10.175,50.804c6.792,12.04,18.826,21.111,39.831,37.379c20.993-16.268,33.033-25.344,39.819-37.379  C99.387,33.883,93.598,19.539,81.495,13.923z')
          //-       path#heart-path(fill-opacity='0' stroke-width='3' stroke='#ED6A5A' d='M81.495,13.923c-11.368-5.261-26.234-0.311-31.489,11.032C44.74,13.612,29.879,8.657,18.511,13.923  C6.402,19.539,0.613,33.883,10.175,50.804c6.792,12.04,18.826,21.111,39.831,37.379c20.993-16.268,33.033-25.344,39.819-37.379  C99.387,33.883,93.598,19.539,81.495,13.923z')
          //-   .col-12.immun-text
          //-     p.description Иммунитет #{immunitet}
          //- .row.bar-block
          //-   .col-5
          //-     #antidot.bar
          //-   .col-7.decr-cont
          //-     p.description Заражено населения
          //- .row.bar-block
          //-   .col-5
          //-     #infected.bar
          //-   .col-7.decr-cont
          //-     p.description Готовность антидота
        .col-8
          p#timer.timer-index
      .row
        .col-12
          img(src="/img/logo_2.png" class="logo-bottom logo-b-index")


